<div id='basePage'>
    <nav id='navBar'>
        <%= image_tag('effect_update_trans.png', alt:"preview", class:"logo") %>
        <%= link_to root_path do%>
            <p class = 'navLink'>Home</p>
        <% end%>
        <%= link_to  about_path do%>
            <p class = 'navLink selected'>About Me</p>
        <% end%>
        <%= button_to 'Create Post', '/auth/google_oauth2', class: 'navLink' %>
    </nav>
    <div id='mainArea'>
        <p id='aboutMe'>
        Hello my name is Benjamin Gerdjunis a senior at Stony Brook University. I'm a computer science major who specializes in systems 
        software development and this is my personal site. I started making these assets before I had a house fire so forgive me if the
        seasons are off, I plan on making a background for each and having them display based on your system time.
        I have experience in operating systems, compilers, web dev, general java nonsense and more; so if that sounds up your alley I'm your guy.
        If you want to know about the process of making the site the home page has a post
        about that.
        </p>
        <p id='aboutMe'>
        Anyways here's my github, email and linkedin if you want to contact me and/or see what I am up to.
        </p>
        <p id='aboutMe'>
            email: <a href='mailto:benjamingerdjunis@gmail.com'>benjamingerdjunis@gmail.com</a>
        </p>
        <p id='aboutMe'>
            github: <a href='https://github.com/gerdjunisben?tab=repositories'>gerdjunisben</a>
        </p>
        <p id='aboutMe'>
            linkedin: <a href='https://www.linkedin.com/in/benjamin-gerdjunis/'>Benjamin Gerdjunis</a>
        </p>
    </div>
</div>