body{

    background-image: url(background.png);
    background-repeat:repeat;
    background-size: 250px 250px; 
    overflow: hidden;
}

p{
    text-align: center;
}

.post{
    margin: 10px;
    background-color: #ccc86f;
    display: flex;
    flex-direction:row;
    border-radius: 10px;
}

.postText{
    text-align: left;
}

.previewImg
{
    margin: 10px;
    width:200px;
    height:200px;
    border-radius: 10px;
}

#basePage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#navBar{
    align-items: center;
    background-color: #D3d19f;
    border-radius: 10px;
    height: 80px;
    width: 100%;
    position: fixed;
}

#mainArea{
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    border-radius: 10px;
    background-color: #D3d19f;
    width: 1000px;
    flex-grow: 1;
}